/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#wrapper {
  width: 100%;
}
header {
  background-color: #033048;
  padding: 25px 0;
}
.header h1 {
  float: left;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
}
.header nav {
  float: right;
 }
.header nav li {
  display: inline-block;
  padding-right: 10px;
  }
.header nav a {
  font-size: 24px;
  font-weight: 600;
  color: #f9e42e;
  text-decoration: none;
}
#main {
  background-color: #f0efef;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.menu {
  display: none;
  background-color: #033048;
  color: #f9e42e;
  border: none;
  float: right;
  margin-top: 20px;
  height: 25px;
  width: 25px;
}
.post {
  float: left;
  width: 55%;
}
.post h2 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 25px;
}
.post p {
  font-size: 24px;
  font-weight: 300;
  }
.post p:first-letter {
  font-size: 350%;
  font-weight: bold;
  float: left;
     /*add change in font and float left*/
}
.post h3 {
  float: right;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #033048;
}
#firstparagraph {
  padding-top: 15px;
}
#secondparagraph {
  padding-top: 15px;
}
article {
  border-bottom: 1px solid #033048;
  margin-bottom: 20px;
  width: 690px;
}
article img {
  display: block;
  width: 100%;
}
.side {
  float: right;
  width: 25%;
}
.side h4 {
  font-size: 32px;
  font-weight: 800;
}
.categories li {
  font-size: 24px;
  font-weight: 300;
}
.about {
  padding-top: 20px;
}
.about p {
  font-size: 22px;
  font-weight: 300;
}
.about h3 {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #033048;
}
.ad {
  padding-top: 30px;
}
.sign {
  width: 100%;
  height: 40px;
  background-color: #f9e42e;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}
.sign a {
  text-decoration: none;
  color: #ffffff;
  border: 5px solid #033048;
  text-align: center;
  border-radius: 5px;
  background-color: #033048;
  font-size: 12px;
  font-weight: 800;
}
footer {
  background-color: #121212;
  text-align: center;
  padding:30px;
}
.foot h2 {
   color: #f9e42e;
   font-weight: 800;
   font-size: 24px;
   margin-bottom: 30px;
}
.foot ul li {
  display: inline-block;
  margin-right: 20px;
}
.foot h6 {
  color: #ffffff;
  font-weight: 700;
  font-size: 9px;
  margin-top: 30px;
  }

  /*psuedo classes*/
  h3:hover {
    color: #f9e42e;
  }

  nav a:hover {
    color: #606161;
  }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*Point Break 768px*/
@media screen and (max-width: 768px) {
#wrapper {
  width: 100%;
}
.container {
  width: 100%;
}
.container h1 {
  font-size: 1.5em; 
  width: 100%;
}
.header nav {
  float: none;
 }
.header ul li {
  width: 100%;
}
.header nav a {
  display: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #f9e42e;
  text-decoration: none;
}
.menu {
  display: block;
  background-color: #033048;
  color: yellow;
  border: none;
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.post {
  float: none;
  width: 100%;
}
.post h2 {
  font-size: 2.5em;
  font-weight: 600;
  padding-top: 10px;
}
.post p {
  font-size: 1.5em;
  font-weight: 300;
  }
.post p:first-letter {
  font-size: 200%;
  font-weight: bold;
  float: left;
     /*add change in font and float left*/
}
.post h3 {
  float: right;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #033048;
}
.side {
  float: none;
  width: 100%;
}
.side h4 {
  font-size: 1.5em;
  font-weight: 800;
}
.categories li {
  font-size: 1.5em;
  font-weight: 300;
}
.about h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  color: #033048;
}
.ad {
  padding-top: none;
}
.ad img {
  width: 100%;
  height: 200px;
}
.sign {
  width: 100%
}
.sign a {
  text-decoration: none;
  color: #ffffff;
  border: 5px solid #033048;
  text-align: center;
  border-radius: 5px;
  background-color: #033048;
  font-size: 12px;
  font-weight: 800;
}


.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
}

